/*
  Color palette from https://www.pinterest.com/pin/9781324172281372/:
  rgb(103,187,183)  - teal
  rgb(86,124,152)   - blue
  rgb(120,117,155)  - purple
  rgb(235,121,120)  - red
    rgb(190,149,146)- 0.6 alpha red on the teal background
  rgb(245,185,161)  - orange
  rgb(245,220,188)  - yellow

  rgb(214,245,243)  - light teal
  rgb(48,82,117)    - dark blue
  rgb(97,51,142)    - dark purple
*/
:root {
  --color-light-teal: rgb(214,245,243);
  --color-light-yellow: rgb(255,230,188);
  --color-light-orange: rgb(255,209,184);
  --color-medium-teal: rgb(103,187,183);
  --color-medium-red: rgb(235,121,120);
  --color-dark-red: rgb(150,49,84);
  --color-dark-blue: rgb(22,40,75);
  --color-dark-purple: rgb(97,51,142);
}

html {
  height: 100%;
}

body {
  background-color: var(--color-light-teal);
  color: var(--color-dark-blue);
  /* To make the footer sticky */
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: 'Lexend', sans-serif;
}

header {
    background-color: var(--color-dark-blue);
    /* why does making this 0px leave almost no space at the top
    and changing it to 1px leaves way more than 1px of space? */
    padding: 20px;
    /* w3schools indicated this would center, but clearly it's not doing what I expected */
    margin-left: auto;
    margin-right: auto;
}

.page-title {
  margin: 0px; /* why isn't it 0px by default? It was 21.440px */
  font-family: 'Lobster', cursive;
  text-align: center;
  color: var(--color-light-orange);
}

.vertical-header-spacer {
  height: 15px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light-yellow);
}

.nav-button {
  padding: 10px;
  background-color: var(--color-light-yellow);
  color: var(--color-dark-blue);
  font-family: 'Lexend', sans-serif;
  text-decoration: none;
  border: 3px solid var(--color-light-orange);
  transition: background-color 0.5s, border-color 0.5s;
}
.nav-button:hover {
  background-color: var(--color-light-orange);
  border-color: var(--color-medium-red);
  text-decoration: underline;
}

.nav-spacer {
  margin: 0 3px;
}

section {
  font-family: 'Lexend', sans-serif;
}

article {
  padding: 10px;
  border: 6px solid var(--color-light-orange);
  margin: 10px 0;
  background-color: var(--color-light-yellow);
}

/* ---------- Projects ---------- */
.project-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

.project {
  background-color: var(--color-light-yellow);
  width: 250px;
  height: 250px;
  margin: 15px;
  border: 6px solid var(--color-light-orange);
  padding: 10px;
  word-wrap: break-word;
  overflow: hidden;
}

.project:hover {
  background-color: var(--color-light-orange);
  border: 6px solid var(--color-medium-red);
}
.project {
  transition: background-color 1s, border 1s;
}
.project:hover img {
  border: 6px solid var(--color-medium-red);
}
.project img {
  transition: border 1s;
}
.project a:hover {
  color: var(--color-dark-red);
}

.project:last-child {
  background-color: rgba(255,230,188,0.4);
  border: 6px solid rgba(255,209,184,0.4);
}
.project:last-child img {
  border: 6px solid rgba(255,209,184,0.4);
}
.project:last-child:hover {
  background-color: var(--color-light-teal);
  border: 6px solid var(--color-dark-red);
}
.project:last-child:hover img {
  border: 6px solid var(--color-dark-red);
}
.project:last-child a:hover {
  color: var(--color-dark-red);
}

h2 {
  color: var(--color-dark-red);
  text-align: center;
}

h3 {
  color: var(--color-dark-blue);
}

section a {
  color: var(--color-dark-blue);
}
section a:hover {
  color: var(--color-medium-red);
}

img {
  /* Why is there 1px between image and border? */
  border: 6px solid var(--color-light-orange);
}

/* ---------- Contact ---------- */
/* DONE: When you expand the textarea, the header moves
  --> I think this was only happening with display:block,
  when there seemed to be some ad-hoc right margin added
  (but wouldn't show in the box model diagram, so ???) */
input, select, textarea, fieldset {
  background-color: var(--color-light-yellow);
  border: 6px solid var(--color-light-orange);
  color: var(--color-dark-blue);
  font-family: 'Lexend', sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  margin: 0 0 10px 0;
  padding: 5px;
}
input:focus, select:focus, textarea:focus, fieldset:focus {
  background-color: var(--color-light-orange);
  border: 6px solid var(--color-medium-red);
}

/* Remove autofill styling */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--color-light-yellow) inset !important;
  -webkit-text-fill-color: var(--color-dark-blue);
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--color-light-orange) inset !important;
}

fieldset {
  display: inline-block;
}
fieldset input {
  display: inline;
  margin: 0 5px 0 0;
}
fieldset label {
  display: block;
  margin: 5px;
}

/* Custom radio buttons */
.hide-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
fieldset label {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid var(--color-dark-blue);
  background-color: var(--color-light-yellow);
}
fieldset label:hover {
  color: var(--color-medium-red);
}
fieldset label:hover input ~ .custom-radio {
  border-color: var(--color-medium-red);
}
fieldset input:checked ~ .custom-radio {
  background-color: var(--color-dark-blue);
}

input[type="submit"] {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
input[type="submit"]:hover {
  background-color: var(--color-light-orange);
  border: 6px solid var(--color-medium-red);
  color: var(--color-medium-red);
  cursor: pointer;
}
input[type="submit"] {
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

footer {
  /* Tried a few different things to make footer sticky, from:
    - https://css-tricks.com/couple-takes-sticky-footer/

  This put it at not-quite the bottom of the content
  // body { position: relative; }
  position: absolute;
  bottom: 0;

  The grid approach at first made the header too tall,
  but fixed it by wrapping the other body content in a div
  */

  grid-row-start: 3;
  grid-row-end: 4;
}
